<div class="login-container">
  <div class="login-card">
    <img src="../../assets/logo-uscs.png">
    <div class="div-img"></div>
    <h2>Bem-vindo!</h2>
    <p>Faça login para acessar sua conta.</p>

    <form (ngSubmit)="login()" class="login-form">
      <label for="username">Usuário</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" placeholder="Digite seu usuário" required />

      <label for="password">Senha</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="Digite sua senha" required />

      <button type="submit">Entrar</button>
    </form>

    <p class="footer-text">© 2023 Universidade São Caetano do Sul</p>
  </div>
</div>
